* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto", sans-serif;
}
a {
    display: block;
}
body {
    position: relative;
}
img{
    max-width: 100%;
}
.container {
    max-width: 700px;
    margin: 0 auto;
    z-index: 10;
}
.header {
    z-index: 10;
    min-height: 130px;
    padding-top: 10px;
}
.header .container {
    padding: 0 15px;
}
.promo__img {
    margin: 20px 0;
}
.header__promo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.header__contact {
    color: #666666;
    font-size: 13px;
    text-align: center;
}
.header__contact_primary {
    color: #ff7116;
    font-size: 26px;
    font-weight: 900;
    text-decoration: none;
}
.header__contact_subprimary {
    color: #666666;
    font-size: 18px;
    font-weight: 900;
    text-decoration: none;
}
.header__nav {
    margin-bottom: 10px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}
.header__nav a {
    color: #fff;
    font-size: 23px;
    min-height: 20px;
    background: #e95625;
    display: flex;
    align-items: center;
    padding: 0 13.5px;
    text-transform: uppercase;
}

.header__subnav ul {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 19px;
}
.header__subnav li {
    background: #e95625;
    display: flex;
    align-items: center;
    padding: 0 3px;
    min-height: 20px;
}
.header__subnav li a {
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
}
.promo .container {
    padding-bottom: 200px;
    padding-left: 15px;
    padding-right: 15px;
}
.promo__title {
    color: #e72a31;
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}
.promo__descr {
    color: #484646;
    font-size: 19px;
    text-align: center;
    margin-bottom: 30px;
}
.main-button {
    border: 1px solid #e72a31;
    min-height: 40px;
    display: flex;
    padding: 0 10px;
    background: none;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 30px;
}
.main-button a {
    font-size: 20px;
    color: #e72a31;
}
.default-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.default-card {
    flex: 0 0 25%;
    border: 1px solid #f2f2f2;
    padding: 10px 10px;
}
.default-card__thumb {
    max-width: 200px;
}
.default-card__name {
    color: #464444;
    font-weight: 500;
    font-size: 17px;
    text-decoration: none;
    margin-bottom: 10px;
}
.default-card__article {
    color: #959292;
    font-size: 12px;
    text-decoration: none;
    margin-top: 10px;
}

.default-card__volume {
    color: #959292;
    font-size: 12px;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
}
.default-card__price_current {
    color: #e72a31;
    font-size: 20px;
    display: inline-block;
}
.default-card__price_old {
    color: #e72a31;
    font-size: 14px;
    text-decoration: line-through;
    vertical-align: middle;
}
.default-card__price_current {
    vertical-align: middle;
}
.default-card__order {
    vertical-align: middle;
    width: 67px;
    height: 30px;
    background: #77c100;
    border: none;
    margin-left: 40px;
}
.default-card__order a {
    color: #fff;
    font-size: 12px;
}

.footer .container {
    background-color: #f2f2f2;
    padding: 20px 0;
}
.footer__social {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.footer__notification {
    text-align: center;
    color: #909090;
    font-size: 12px;
    margin-top: 20px;
}
.footer__notification a {
    color: #8fbf00;
}
.footer__message {
    text-align: center;
    color: #484646;
    font-size: 19px;
}
@media (max-width: 800px) {
    .header__promo {
        flex-direction: column;
        align-items: center;
    }
    .header__contact {
        margin-top: 30px;
    }
    .header__nav {
        flex-direction: column;
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .header__nav a {
        margin: 0;
    }
    .header__subnav ul {
        flex-direction: column;
        display: flex;
        justify-content: center;
        margin: 0;
        margin-top: 20px;
    }
    .header__subnav li {
        padding: 0 14px;
    }
}
@media (max-width: 700px) {
    .default-cards{
        flex-direction: column;
        align-items:center;
    }
    .default-card{
        flex: none;
        width:300px;
    }
}
/* burger */
.menu__btn {
    display: flex;
    align-items: center;
    top: 30px;
    left: 25px;
    width: 26px;
    height: 26px;
    position: absolute;
    cursor: pointer;
    z-index: 120;
}
@media (max-width: 400px) {
    .menu__btn {
        top: 20px;
        left: 0px;
    }
}
#menu__toggle {
    opacity: 0;
}
.hamburger-menu {
    display: none;
}
@media (max-width: 768px) {
    .hamburger-menu {
        display: block;
    }
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    max-width: 25px;
    background-color: #111;
    top: 20px;
}
.menu__btn_black > span,
.menu__btn_black > span::before,
.menu__btn_black > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #111;
    top: 20px;
}
.hamburger-menu_black .menu__btn > span,
.hamburger-menu_black .menu__btn > span::before,
.hamburger-menu_black .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #111;
    top: 20px;
}
.menu__btn > span::before {
    content: "";
    top: -8px;
}
.menu__btn > span::after {
    content: "";
    top: 8px;
}
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    overflow: scroll;
    z-index: 100;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #e95625;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    max-width: 700px;
    margin: 0 auto;
    z-index: 10;
}
.menu__item {
    display: block;
    padding: 12px 24px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}
#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
    overflow: hidden;
}
