.footer {
    min-height: 350px;
    background-color: #f0f0f0;
    padding-top: 51px;

    &__links {
        display: flex;
    }

    &__address {
        color: #b9b9b9;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        max-width: 300px;
        margin-right: 100px;

        h4 {
            color: #818181;
            font-weight: 700;
            font-size: 18px;
            font-weight: 700;
            line-height: 30px;
        }
    }

    &__link {
        max-width: 300px;
        color: #818181;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;

        h4 {
            font-weight: 700;
            display: inline;
        }

        span {
            color: #fdbf00;
            font-weight: 700;
        }
    }

    &__copyright {
        max-width: 300px;
        margin-left: 370px;
        color: #b9b9b9;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
    }

    &__remark {
        width: 335px;
        min-height: 101px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 15px;
        background-image: linear-gradient(172deg, #ffe698 0%, #d5bc7d 100%);
        color: #818181;
        font-size: 17px;
        font-weight: 500;
        line-height: 22px;
        margin-top: 200px;
    }
}