.header-unter {
    text-align: center;
    background-color: #ffffff;
    padding-top: 35px;
    min-height: 170px;
    border: none;
    position: sticky;
    top: 0;
    z-index: 120;

    @media(max-width: 768px) {
        min-height: 100px;

        .menu__btn {
            position: fixed;
        }
    }

    .container {
        img {
            position: absolute;
            margin: 0 auto;
            left: 50%;
            z-index: 120;
            transform: translateX(-50%);
            top: 10px;

            @media(max-width: 768px) {
                top: 10px;

            }
        }

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1300px;
            margin-top: 80px;
            flex-wrap: wrap;

            @media(max-width: 768px) {
                display: none;

            }

            li {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 30px;
                margin-right: 50px;
                position: relative;
                &:last-child {
                    margin-right: 0;
                }

                a {

                    color: #818181;
                    font-size: 18px;
                    font-weight: 700;
                    text-decoration: none;

                }

                &:hover {
                    a {
                        color: #fdbf00;
                    }

                    &:after {
                        content: '';
                        width: 10px;
                        height: 10px;
                        background-color: #fdbf00;
                        border-radius: 100%;
                        top:25px;
                        position: absolute;
                    }
                }
            }
        }

    }

}

.header {
    text-align: center;
    border: none;
    z-index: 120;

    .container {
        img {
            margin: 0 auto;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -120px;

            @media(min-width: 768px) {
                top: 0
            }
            top: -120px;

            @media(max-width: 768px) {
                top:30px;
            }
        }

        ul {
            flex-wrap: wrap;
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1300px;
            margin-top: 100px;

            @media(max-width: 768px) {
                display: none;

            }

            li {
                margin-top: 30px;
                margin-right: 30px;

                &:last-child {
                    margin-right: 0;
                }

                a {

                    color: #ffffff;
                    font-size: 18px;
                    font-weight: 700;
                    color: #fff;
                    text-decoration: none;

                    &:hover {
                        color: #fdbf00
                    }
                }
            }
        }

    }
    @media(max-width: 768px) {

        .menu__btn {
            position: fixed;
        }
    }
}