@import "./other/reset";
@import "./other/fonts";
@import "./other/animate";
@import "./other/swiper";
@import "./starter/promo";
@import "./starter/jobs";
@import "./starter/peoples";
@import "./starter/team";
@import "./starter/letter";
@import "./blocks/footer";
@import "./blocks/header";
@import "./untersite/promo";
@import "./untersite/about";
@import "./untersite/team";
@import "./untersite/inAddition";
@import "./blocks/burger";

* {
    font-family: "Poppins", sans-serif !important;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}
.container {
    max-width: 1385px;
    margin: 0 auto;
}

.container-big {
    max-width: 1750px;
    margin: 0 auto;
}

.d-block {
    display: block !important;
}

.d-none {
    display: none !important;
}

img {
    max-width: 100%;
}

div {
    z-index: 5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    z-index: 10;
}