.advantages{
    padding: 70px 0 95px 0;
    min-height: 470px;
    background-color: #f6f6f6;
    &__wrapper{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        max-width: 230px;
        text-align: center;  
        margin-top: 55px;
    }
    &__title{
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        margin: 25px 0 20px 0;
    }
    &__descr{
        color: #0d0d0d;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        span{
            color: $main-color;
            text-decoration: underline;
            text-transform: uppercase;
        }
    }
}