.jobs {
  margin-top: 100px;
  padding-top: 50px;

  &__wrapper {
    display: flex;
    justify-content: center;

    @media (max-width: 650px) {
      flex-direction: column;
      align-items: center;
    }

  }

  &-card {
    width: 320px;
    min-height: 320px;
    position: relative;
    line-height: 33px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    margin-right: 20px;


    @media (max-width: 1150px) {
      width: 620px;
      padding-left: 7px;
    }

    @media (max-width: 768px) {
      width: 400px;
    }

    @media (max-width: 650px) {
      min-width: 300px;
      max-width: 300px;
    }

    &__wrapper {
      max-width: 220px;
      margin: 0 auto;
    }

    &_white {
      background-color: #ffffff;
    }

    &_dark {
      background-color: #818181;
    }

    &_gold {
      background-color: #fdbf00;
    }

    &_img {
      border: none;
      background:#818181;
      img {
        position: absolute;
        height: 320px;
      }

      @media (max-width: 1150px) {
        width: 620px;
      }

      @media (max-width: 768px) {
        width: 400px;
      }

      display: flex;
      justify-content: center;
      align-items: center;
    }

    &_grey {
      background-color: #f0f0f0;
    }
  }

  &__button {
    width: 95px;
    height: 55px;
    z-index: 10;
    border: 4px solid #ff0070;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  &__title {
    @media (max-width: 1150px) {
      font-size: 15px;
    }

    @media (max-width: 768px) {
      font-size: 14px;
    }

    margin-top: 78px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 400;
    font-size: 18px;
    font-weight: 700;

    &_white {
      color: #fff;
    }

    &_grey {
      color: #818181;
    }
  }

  &__descr {
    @media (max-width: 1150px) {
      font-size: 18px;
    }

    @media (max-width: 768px) {
      font-size: 15px;
    }

    font-size: 27px;
    font-weight: 400;
    text-transform: uppercase;

    &_white {
      color: #ffffff;

      span {
        color: #fdbf00;
        font-size: 30px;
      }
    }

    &_grey {
      color: #818181;

      span {
        color: #fdbf00;
        font-size: 30px;
      }
    }
  }

  &__remark {
    width: 100%;
    min-height: 85px;
    padding-top: 30px;
    font-weight: 400;
    line-height: 25px;
    background-image: linear-gradient(172deg, #ffe698 0%, #d5bc7d 100%);
    font-size: 17px;
    display: none;
    position: absolute;
    top: -140px;
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
}