.promo {
    min-height: 900px;
    padding-top: 35px;
    background: url("../img/main/1/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.promo {
    position: relative;

    &__letter {
        margin: 0 auto;

        img {
            display: block;
            margin: 0 auto;
            margin-top: 224px;
            max-width: 100%;

            @media(max-width: 768px) {
                max-width: 100%;
                margin-top: 224px;
            }

            @media(min-width: 320px) and (max-width:567px) {
                max-width: 100%;
                margin-top: 150px;
            }
        }


    }

    &__text {
        color: #ffffff;
        margin-top: 35px;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
    }

    &__icon {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
    }

}

.promo {

    &__remark {
        max-width: 395px;
        min-height: 199px;
        padding-top: 30px;
        font-weight: 400;
        line-height: 25px;
        margin-left: 10px;
        font-size: 17px;
        display: none;
        margin-top: 20px;

        p {
            color: #818181;
            max-width: 336px;
            margin: 0 auto;
        }

        background-image: linear-gradient(172deg, #ffe698 0%, #d5bc7d 100%);
    }
}