.promo-unter {
    min-height: 300px;
    cursor: pointer;

    &-slider {
        margin: 0 auto;

        &__item {
            background-position: center center;
            background-size:cover;
            background-repeat:no-repeat;
            min-height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;

            @media(max-width: 768px) {
                flex-direction: column;

            }
        }

        &__letter {
            @media(max-width: 768px) {
                max-width: 35%;

            }
        }

        &__title {
            color: #ffffff;
            font-size: 30px;
            font-weight: 400;
            margin-right: 350px;

            @media(max-width: 1100px) {
                margin-right: 50px;
                font-size: 20px;
            }

            @media(max-width: 768px) {
                margin-right: 0;
                margin-bottom: 30px;

            }
        }

    }

}